body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:100px;
  width:302px;
  height:56px;
  font-size:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:56px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:140px;
  width:880px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:863px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:880px;
  height:1px;
}
#u3 {
  position:absolute;
  left:10px;
  top:166px;
  width:216px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:10px;
  top:190px;
  width:240px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:10px;
  top:248px;
  width:79px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:21px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:272px;
  width:240px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:310px;
  top:248px;
  width:97px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:310px;
  top:272px;
  width:240px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:630px;
  top:248px;
  width:96px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:630px;
  top:272px;
  width:240px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:10px;
  top:331px;
  width:170px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:21px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:10px;
  top:355px;
  width:240px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:10px;
  top:413px;
  width:74px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:437px;
  width:240px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:10px;
  top:496px;
  width:102px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:10px;
  top:520px;
  width:240px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:310px;
  top:496px;
  width:164px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:310px;
  top:520px;
  width:240px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:10px;
  top:579px;
  width:32px;
  height:21px;
  font-family:'Gisha Normal', 'Gisha';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:52px;
  top:578px;
  width:200px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29_input:disabled {
  color:grayText;
}
#u30 {
  position:absolute;
  left:560px;
  top:650px;
  width:100px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:675px;
  top:650px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:790px;
  top:650px;
  width:100px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:310px;
  top:190px;
  width:100px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
